sudo: false
language: python
env:
python:
  - 3.5
install:
  - pip install nbconvert
  - pip install -r requirements.txt
script:
  - mkdir build/
  - jupyter nbconvert --to html --execute intein_finder.ipynb --output build/index.html
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local-dir: build
  on:
    branch: master
